@use "./mixins" as *;

.btn {
    @include button;
    
    text-transform: uppercase;
    font-size: 1.35rem;
    padding: 0.5em 0.75em;
    border-radius: 0.25em;
    font-weight: bold;
    letter-spacing: 0.02em;
    transition: 
        background-color 250ms,
        color 250ms;
    
    &.btn-outlined {
        --color: var(--theme-text-color);

        background-color: transparent;
        color: var(--color);
        border: 3px solid var(--color);

        &.btn-danger {
            --color: red;;
        }

        &:hover {
            background-color: var(--color);
            color: var(--theme-text-color-opposite);
        }
    }

    &:hover {
        background-color: var(--theme-text-color-opposite);
        color: var(--theme-text-color);
    }
}