@use "./variables" as *;
@use "./mixins" as *;

.results {
    @include flexCenter;

    position: absolute;
    inset: 0;
    background-color: hsla(0, 0%, 0%, 0.5);

    .results-container {
        @include flexCenter;

        flex-direction: column;
        gap: 2rem;
        background-color: var(--theme-color-1);
        padding: 3rem;
        border-radius: 0.5rem;
        width: 25rem;
    }

    .results-text {
        @include flexCenter;

        font-size: 3rem;
        color: var(--theme-text-color);
        font-weight: bold;
        gap: 2rem;

        .x, .circle {
            font-size: 0.75rem;
        }
    }
}