$cell-size: 150px;
$cell-gap: 25px;
$cell-corner-radius: 0.35rem;

:root {
    --x-color: hsl(60, 100%, 50%);
    --circle-color: hsl(200, 100%, 50%);
}

html[data-theme="dark"] {
    --theme-color-1: hsl(0, 0%, 18%);
    --theme-color-2: hsl(0, 0%, 25%);
    --theme-text-color: white;
    --theme-text-color-opposite: black;
    --score-box-text-secondary: hsl(0, 0%, 65%);
    --cell-hover: hsl(0, 0%, 30%);
    --border: 3px solid hsl(0, 0%, 35%);
}